@page
@model WebApplication2.Pages.Phims.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Phim</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Phim.ID" />
            <div class="form-group">
                <label asp-for="Phim.Title" class="control-label"></label>
                <input asp-for="Phim.Title" class="form-control" />
                <span asp-validation-for="Phim.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phim.ReleaseDate" class="control-label"></label>
                <input asp-for="Phim.ReleaseDate" class="form-control" />
                <span asp-validation-for="Phim.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phim.Genre" class="control-label"></label>
                <input asp-for="Phim.Genre" class="form-control" />
                <span asp-validation-for="Phim.Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phim.Price" class="control-label"></label>
                <input asp-for="Phim.Price" class="form-control" />
                <span asp-validation-for="Phim.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
